@import '../../../theme/mixins';

.contact-page {
    @include flex(column, $align-items: center);
    width: 60%;
    margin: 0 auto;

    h2 {
        text-transform: uppercase;
        font-size: 2.4rem;
    }

    p {
        font-size: 1.6rem;
    }
}