@import '../../theme/mixins';

.collection-item {
    @include flex(column, $align-items: center);
	width: 22%;
	height: 350px;

	.image {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: .5rem;
	}

	.footer {
        @include flex(row, space-between);
		width: 100%;
		height: 5%;
		font-size: 1.8rem;

		.name {
			margin-bottom: 1.5rem;
		}
	}
}
