@import '../../theme/mixins';
@import '../../theme/colors';

.cart-dropdown {
    @include flex(column);
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid $black;
    background-color: $white;
    top: 9rem;
    right: 2rem;
    z-index: 3;

    .cart-items {
        @include flex(column);
        height: 240px;
        overflow-y: scroll;
    }

    button {
        margin-top: auto;
    }
}