@import '../../theme/colors';
@import '../../theme/mixins';

.loading {
    @include flex(column, center, center);

    .message {
        font-size: 2rem;
        font-family: bold;
        color: $gray;
    }

    .loader-container {
        margin: 2rem;
    }
}