@import '../../../theme/mixins';

.collection-page {
    @include flex(column);

    .title {
        font-weight: 400;
        font-size: 3.8rem;
        margin: 0 auto 3rem;
        text-transform: uppercase;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

        & .collection-item {
            margin-bottom: 3rem;
        }
    }
}