// Colors

$white: #ffffff;
$black: #000000;
$gray: #4a4a4a;
$light-gray: lighten($gray, 20%);
$primary-blue: #3498db;
$google-blue: #4285f4;
$facebook-blue: #4267b2;
$error: #cc3b3b;
$warning: #ff3c3c;


